// color
$white: #fff;
$black: #000;
$border: #F5F5F5;
$white_dark: #fafafaf0;


// fonts Golos
$golos_fonts: "Golos Text", sans-serif;
$open_sans: Open Sans !important;
$monserat: "Montserrat Alternates", serif !important;
$nunto: "Nunito Sans", serif !important;
